*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: auto;
    width:90%;
    background-color: #FF900E1A;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700; 
}
.nav-sub {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:15px;
    font-size: 18px;
    color: #727272;
    margin-top: 10px;
}
nav li{
    list-style:none;
}
.main-title{
    display: flex;
   justify-content: center;
    text-align: center;
    font-size: 50px;
}
.paragraph{
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 26px;
    margin-top: 15px;
}
.but{
 text-align: center;
}
.button1{
    border-radius: 2px;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    width:15%;
    height: 25%;
    background-color:#FF900E;
    color: whitesmoke;
    margin-bottom: 40px;
}
.banner{
    border-radius: 2px;
    height: 570px;
    margin-left: 120px;  
}
/* banner end */
/* section1 */
.container2 {
    display: flex;
   
}
.text .paragraph2 {
    display: flex; 
    flex-direction: row-reverse;
} 
.paragraph2{
    font-size: 16px;
    color: #727272;
    /* display: flex; */
}
.info{
    margin-right: 215px;
    margin-top: 250px; 
}
.image{
    margin-left: 50px;
}
.quick{
    color:#727272;
    font-size: 45px;
}
.ofour{
    font-size:40px ;
}
.fea{
    color:#FF900E;
    font-size:45px; 
}
.button2{
    border-radius: 2px;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    width:100px;
    height: 65px;
    background-color:#FF900E;
    color: whitesmoke;
}
/* architect */
.architect{
    display:flex;
}
.img{
margin-right: 20px;
margin-top: 20px;
}
.info2{
    margin-top: 90px;
    margin-left: 50px;
}
.main-title2{
 font-size: 40px;
 margin-top:50px;
 margin-bottom:13px ;
 margin-left: 100px;
 color:  #131313;
}
.sub-title{
font-size:20px ;
color: #131313;
margin-left:110px ;
}
.paragraph4{
font-size: 12px;
color:#727272 ;
margin-left: 110px;
margin-bottom:50px ;
}
.year{
  margin-left: 300px;
  border: none;
  border-radius: 2px;
  width:150px;
  padding: 10px 20px;
  background-color:#FF900E ;
  font-size: 20px;
  color: #727272;
}
.year:hover{
   color: aliceblue;
}
/* some facts */
.some-text{
    font-size: 35px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 150px;
    margin-left: 150px;
    margin-right: 150px;
    color: #727272;
}
/* .icon1{
    border: #FF900E solid 1px;
    border-radius: 5px;
} */
/* ----Sponspors style----- */
.sponspors{text-align: center;
}
.img2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.our{
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
}
.paragraph3{
    color:#727272;
    font-size: 15px;}
/* footer style */
.footer{
    background-color: #FF900E1f;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.footer-p{
    color: #727272;
    font-size: 18px;
}
/* media query for phone */
